<section
    id="contacts"
    class="relative overflow-hidden bg-black pb-32 pt-24"
>
    <img
        alt=""
        class="absolute left-0 top-0"
        src="assets/gradients/radial3.svg"
    />
    <div class="container relative z-10 mx-auto px-4">
        <div class="-m-6 flex flex-wrap">
            <div class="w-full p-6 md:w-1/2">
                <div class="md:max-w-lg">
                    <h2 class="font-heading xl:text-10xl mb-8 text-6xl font-semibold text-white sm:text-8xl">
                        Want to get in touch with me?
                    </h2>
                    <p class="text-lg text-gray-400">
                        Whether you have a question about our services, need assistance, or just want to share your
                        feedback, I always ready and eager to connect.<br /><br />I believe in open communication and am
                        here to provide the support you need. <span
                            class="bg-gradient-fuchsia bg-clip-text text-transparent">Reach out today</span
                        > and let's start a conversation.
                    </p>
                </div>
            </div>
            <div class="w-full p-6 md:w-1/2">
                <div class="ml-auto md:max-w-md">
                    <p
                        class="bg-gradient-cyan2 font-heading mb-4 max-w-max bg-clip-text text-lg font-semibold text-transparent"
                    >
                        Send me a mail
                    </p>
                    <p class="mb-12 text-2xl text-white">
                        <a href="mailto:the@nikdelv.in">the@nikdelv.in</a>
                    </p>
                    <p
                        class="bg-gradient-cyan2 font-heading mb-4 max-w-max bg-clip-text text-lg font-semibold text-transparent"
                    >
                        Check my projects
                    </p>
                    <ul>
                        <li class="mb-6 text-2xl text-white hover:text-gray-300">
                            <a href="https://tailyui.by.nikdelv.in/">Taily UI</a>
                        </li>
                        <li class="mb-6 text-2xl text-white hover:text-gray-300">
                            <a href="https://scientry.by.nikdelv.in/">Scientry</a>
                        </li>
                        <li class="mb-6 text-2xl text-white hover:text-gray-300">
                            <a href="https://feelicy.by.nikdelv.in/">Feelicy</a>
                        </li>
                        <li class="mb-6 text-2xl text-white hover:text-gray-300">
                            <a href="https://brodly.by.nikdelv.in/">Brodly</a>
                        </li>
                        <li class="mb-6 text-2xl text-white hover:text-gray-300">
                            <a href="https://neuroly.by.nikdelv.in/">Neuroly</a>
                        </li>
                        <li class="text-2xl text-white hover:text-gray-300">
                            <a href="https://scripty.by.nikdelv.in/">Scripty</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
