<section
    id="faq"
    class="relative overflow-hidden bg-black pb-32 pt-24"
>
    <img
        class="absolute bottom-0 left-1/2 -translate-x-1/2 transform"
        src="assets/gradients/radial4.svg"
        alt=""
    />
    <div class="container relative z-10 mx-auto px-4">
        <h2 class="font-heading mb-16 text-6xl font-semibold text-white sm:text-8xl">Frequently Asked Questions</h2>
        <div class="border-t border-white border-opacity-10 py-8">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">
                        What are the usage rights for the templates and kits I purchase?
                    </h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            My UI templates and kits are completely copyright-free, meaning you're welcome to use them
                            for all your commercial projects. You can confidently use anything you purchase - whether
                            it's a template, UI kit, or SDK - on any of your personal or commercial projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-white border-opacity-10 py-8">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">
                        What specific technologies are used to build the UI library, components and SDKs?
                    </h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            I build my UI library and components using pure Tailwind CSS for that clean and modern look.
                            Plus, they're animated with GSAP! When it comes to the Authentication SDK, it's supports
                            over 35 providers like Google, Facebook, GitHub, Twitter (X), LinkedIn, Apple and
                            international personal ID cards and documents for user authentication. And for Data Analysis
                            & AI features, I leverage a Google's Gemini 2.5 Pro LLM and provide a development kit with
                            libraries like D3.js for data visualization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-b border-t border-white border-opacity-10 py-8">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">
                        Do the purchased templates, UI kits, or SDKs receive updates, and are they free?
                    </h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            Absolutely! When you get any template, UI components kit, or SDK from me, you'll receive
                            free updates included with your purchase.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
