<section class="relative overflow-hidden bg-black py-28">
    <img
        class="absolute bottom-0 left-1/2 -translate-x-1/2 transform"
        src="assets/gradients/radial4.svg"
        alt=""
    />
    <div class="container relative z-10 mx-auto px-4">
        <h2 class="mb-16 font-heading text-6xl font-semibold text-white sm:text-7xl">Frequently Asked Question</h2>
        <div class="border-t border-white border-opacity-10 py-9">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">Is it really unlimited downloads?</h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut
                            justo elit amet. Gravida pulvinar ac elementum praesent vel quis accumsan, proin rhoncus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-white border-opacity-10 py-9">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">
                        What kind of file do you offer with the packages?
                    </h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            Consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet. Gravida
                            pulvinar ac elementum praesent vel quis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-b border-t border-white border-opacity-10 py-9">
            <div class="-m-6 flex flex-wrap">
                <div class="w-full p-6 md:w-1/2">
                    <h3 class="font-heading text-xl font-medium text-white">Do you offer discounts on annual plans?</h3>
                </div>
                <div class="w-full p-6 md:w-1/2">
                    <div class="md:max-w-xl">
                        <p class="text-base text-gray-200">
                            Ipsum dolor sit amet, consectetur adipiscing elit. Gravida pulvinar ac elementum praesent
                            vel quis accumsan, proin rhoncus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
