<section class="relative overflow-hidden bg-black pb-32 pt-24 md:pb-44">
    <img
        class="absolute right-0 top-0"
        src="assets/gradients/radial5.svg"
        alt=""
    />
    <img
        class="absolute bottom-0 left-0"
        src="assets/gradients/radial6.svg"
        alt=""
    />
    <div class="container relative z-10 mx-auto px-4">
        <div class="md:mx-auto md:max-w-4xl">
            <h2 class="font-heading mb-20 max-w-xl text-6xl font-bold text-white sm:text-8xl">
                Prepared with pixel-perfect precision
            </h2>
            <div class="-m-4 flex flex-wrap">
                <div class="w-full p-4 md:relative md:top-12 md:w-1/2">
                    <div
                        class="bg-gradient-orange2 h-full transform rounded-2xl p-8 transition duration-1000 ease-out hover:-translate-y-2"
                    >
                        <p class="font-heading mb-4 text-base text-white text-opacity-70">SaaS Templates</p>
                        <h3 class="font-heading mb-20 text-2xl font-bold text-white">
                            Use the power of a responsive UI to deliver ideas on any device.
                        </h3>
                        <div class="pr-6">
                            <div class="rounded-10 relative z-10 bg-white p-6 text-center shadow-2xl">
                                <p
                                    class="bg-gradient-orange2 font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                >
                                    20+
                                </p>
                                <p class="mb-2 text-xs font-bold text-black">Website & Dashboard Layouts</p>
                                <p class="text-xs text-gray-500">90 SEO, Accessibility, Performance Score</p>
                            </div>
                        </div>
                        <div class="-mt-14 pl-6">
                            <div class="rounded-10 bg-white p-6 text-center opacity-30 shadow-2xl">
                                <p class="mb-4 text-2xl font-bold text-black">20+</p>
                                <p class="mb-2 text-xs font-bold text-black">Website & Dashboard Layouts</p>
                                <p class="text-xs text-gray-500">90 SEO, Accessibility, Performance Score</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full p-4 md:w-1/2">
                    <div
                        class="bg-gradient-blue flex h-full transform flex-col justify-between overflow-hidden rounded-2xl transition duration-1000 ease-out hover:-translate-y-2"
                    >
                        <div class="p-8 md:pb-0">
                            <p class="font-heading mb-4 text-base text-white text-opacity-70">UI/UX Components</p>
                            <h3 class="font-heading mb-20 text-2xl font-bold text-white">
                                Semantic HTML. Seamless styles. Something beautifully new.
                            </h3>
                            <div class="pl-6">
                                <div class="rounded-10 relative z-10 bg-white p-6 text-center shadow-2xl">
                                    <p
                                        class="bg-gradient-blue font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                    >
                                        160+
                                    </p>
                                    <p class="mb-2 text-xs font-bold text-black">Website & Dashboard UI Components</p>
                                    <p class="text-xs text-gray-500">Pure Tailwind CSS and GSAP</p>
                                </div>
                            </div>
                            <div class="-mt-14 pr-6">
                                <div class="rounded-10 bg-white p-6 text-center opacity-30 shadow-2xl">
                                    <p class="mb-4 text-2xl font-bold text-black">160+</p>
                                    <p class="mb-2 text-xs font-bold text-black">Website & Dashboard UI Components</p>
                                    <p class="text-xs text-gray-500">Pure Tailwind CSS and GSAP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full p-4 md:relative md:top-12 md:w-1/2">
                    <div
                        class="bg-gradient-purple h-full transform rounded-2xl p-8 transition duration-1000 ease-out hover:-translate-y-2"
                    >
                        <p class="font-heading mb-4 text-base text-white text-opacity-70">Authentication SDK</p>
                        <h3 class="font-heading mb-20 text-2xl font-bold text-white">
                            Easy & straightforward way to secure any web application.
                        </h3>
                        <div class="pl-6">
                            <div class="rounded-10 bg-white p-6 pt-4 text-center opacity-30 shadow-2xl">
                                <p
                                    class="bg-gradient-purple font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                >
                                    35+
                                </p>
                                <p class="mb-2 text-xs font-bold text-black">Providers & Personal ID Types</p>
                                <p class="text-xs text-gray-500">Available for User Authentication. Secured</p>
                            </div>
                        </div>
                        <div class="-mt-[4.5rem] pr-6">
                            <div class="rounded-10 relative z-10 bg-white p-6 text-center shadow-2xl">
                                <p
                                    class="bg-gradient-purple font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                >
                                    35+
                                </p>
                                <p class="mb-2 text-xs font-bold text-black">Providers & Personal ID Types</p>
                                <p class="text-xs text-gray-500">Available for User Authentication. Secured</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full p-4 md:w-1/2">
                    <div
                        class="bg-gradient-violet2 h-full transform rounded-2xl p-8 transition duration-1000 ease-out hover:-translate-y-2 md:pb-0"
                    >
                        <p class="font-heading mb-4 text-base text-white text-opacity-70">Data Analysis & AI</p>
                        <h3 class="font-heading mb-20 text-2xl font-bold text-white">
                            Leverage the cutting edge of Artificial Intelligence. Now.
                        </h3>
                        <div class="pr-6">
                            <div class="rounded-10 bg-white p-6 pt-4 text-center opacity-30 shadow-2xl">
                                <p
                                    class="bg-gradient-violet2 font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                >
                                    780B
                                </p>
                                <p class="mb-2 text-xs font-bold text-black">Tokens in Large Language Model</p>
                                <p class="text-xs text-gray-500">Development kit with Big Data Analytics tools</p>
                            </div>
                        </div>
                        <div class="-mt-[4.5rem] pl-6">
                            <div class="rounded-10 relative z-10 bg-white p-6 text-center shadow-2xl">
                                <p
                                    class="bg-gradient-violet2 font-heading mb-4 bg-clip-text text-4xl font-bold text-transparent"
                                >
                                    780B
                                </p>
                                <p class="mb-2 text-xs font-bold text-black">Tokens in Large Language Model</p>
                                <p class="text-xs text-gray-500">Development kit with Big Data Analytics tools</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
