<section class="relative overflow-hidden bg-black pb-32 pt-24">
    <img
        class="absolute left-1/2 top-0 h-full -translate-x-1/2 transform"
        src="assets/gradients/radial12.svg"
        alt=""
    />
    <div class="container relative z-10 mx-auto px-4">
        <div class="mb-16 max-w-xl">
            <h2 class="mb-8 font-heading text-6xl font-semibold text-white sm:text-8xl">
                Tailwind CSS UI library for your future landings
            </h2>
            <p class="w-[90%] text-lg text-gray-400">
                Get full access to <span class="bg-gradient-orange bg-clip-text text-xl font-[500] text-transparent"
                    >9</span
                > landing templates and <span
                    class="bg-gradient-orange bg-clip-text text-xl font-[500] text-transparent">90+</span
                > components covering complex business niches such as CMS solutions, meditation apps, streaming services,
                AI chatbots, educational systems and even more
            </p>
        </div>
        <div
            id="projects-slider"
            class="-m-4 mb-8 flex transition-transform duration-500 ease-in-out"
            style={{ transform: 'translateX(-0px)' }}
        >
            <div
                id="project1"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-indigo-200 to-blue-200 font-heading text-xl text-gray-900"
                            >
                                1
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-blue-200 to-slate-400 bg-clip-text text-transparent"
                                    >Developer CV</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Simple and stylish example of design system for a Software Developer&apos;s portfolio
                            website
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project2"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://tailyui.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-l from-violet-500 to-indigo-500 font-heading text-xl text-gray-900"
                            >
                                2
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-violet-500 to-sky-500 bg-clip-text text-transparent"
                                    >Taily UI</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project3"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://scientry.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-l from-sky-500 to-cyan-400 font-heading text-xl text-gray-900"
                            >
                                3
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-sky-500 to-green-500 bg-clip-text text-transparent"
                                    >Scientry</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Self-hosted, open-source, all-in-one Data Management & Visualization solution for scientific
                            researchers
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project4"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://feelicy.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-teal-400 to-green-500 font-heading text-xl text-gray-900"
                            >
                                4
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-green-500 to-amber-500 bg-clip-text text-transparent"
                                    >Feelicy</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Meditation, focus, mind mapping and goal planning in game format of Garden Simulator
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project5"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://brodly.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-yellow-300 to-amber-500 font-heading text-xl text-gray-900"
                            >
                                5
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-amber-500 to-red-500 bg-clip-text text-transparent"
                                    >Brodly</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Stylish, modern, high-secure and fully anonymous live streaming platform for everyone
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project6"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://neuroly.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-l from-red-500 to-pink-500 font-heading text-xl text-gray-900"
                            >
                                6
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-red-500 to-violet-500 bg-clip-text text-transparent"
                                    >Neuroly</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            AI chatbot based on 56B tokens LLM, powered by speech-to-text and voice synthesis
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project7"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://scripty.by.nikdelv.in"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-zinc-400 to-slate-400 font-heading text-xl text-gray-900"
                            >
                                7
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-slate-400 to-blue-200 bg-clip-text text-transparent"
                                    >Scripty</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Practice-oriented educational platform for everyone who wants to learn JavaScript & WebDev
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project8"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://hub.by.nikdelv.in/cybergelion"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-blue-200 to-[#5EF6FF] font-heading text-xl text-gray-900"
                            >
                                8
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-l from-[#F75049] to-[#5EF6FF] bg-clip-text text-transparent"
                                    >Cybergelion</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Chat application inspired by style of Cyberpunk 2077 game series and TV series
                            &quot;Evangelion&quot;
                        </p>
                    </div>
                </a>
            </div>
            <div
                id="project9"
                class="w-full max-w-md flex-shrink-0 p-4"
            >
                <a
                    class="flex h-full"
                    href="https://hub.by.nikdelv.in/peppermeet"
                    target="_blank"
                >
                    <div class="w-auto max-w-md rounded-10 bg-gray-900 p-8">
                        <div class="mb-12 flex w-full flex-row items-center">
                            <div
                                class="mr-4 flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-r from-green-200 to-[#e6fabe] font-heading text-xl text-gray-900"
                            >
                                9
                            </div>
                            <h2 class="font-heading text-4xl font-semibold text-white sm:text-6xl">
                                <span class="bg-gradient-to-r from-[#e6fabe] to-[#87a858] bg-clip-text text-transparent"
                                    >Peppermeet</span
                                >
                            </h2>
                        </div>
                        <p class="text-lg text-white">
                            Easy, fast & secure meetings platform enhanced for streaming co-operative games
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="wrap -m-2 flex flex-wrap justify-center md:justify-end">
            <div class="aspect-square h-full w-auto p-2">
                <button id="arrow-back">
                    <svg
                        width={24}
                        height={24}
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            id="arrow-back-color"
                            d="M10 19L3 12M3 12L10 5M3 12L21 12"
                            stroke="#3F3F46"
                            stroke-width={2}
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </button>
            </div>
            <div class="aspect-square h-full w-auto p-2">
                <button id="arrow-next">
                    <svg
                        width={24}
                        height={24}
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            id="arrow-next-color"
                            d="M14 5L21 12M21 12L14 19M21 12L3 12"
                            stroke="white"
                            stroke-width={2}
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
