---
import Layout from '../../layouts/ProjectLayout.astro'
import ProjectFooter from '../../components/shared/ProjectFooter.astro'
import * as tailyUI from 'taily-ui'

const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
function getDate(date: Date) {
    return [date.getDate().toString(), monthNames[date.getMonth()], date.getFullYear().toString()]
}
export async function getStaticPaths() {
    return [undefined, 'default', 'primary', 'secondary', 'success', 'warning', 'error', 'ghost'].map((theme) => ({
        params: { theme }
    }))
}
const { theme } = Astro.params
const colorTheme =
    (theme as 'default' | 'primary' | 'secondary' | 'success' | 'warning' | 'error' | 'ghost') ?? 'secondary'
---

<Layout
    title="Welcome to Taily UI"
    description="Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS"
    keywords="web de, website, logo design, graphic design, website design, website builder, website templates, web development, graphic designer, web page, brochure design, web designer, webdesign, web developer, ecommerce website, create a website, logo designer, free website templates, web design company, website creator, design logo, website designer, responsive web design, create website, criar site"
    url="https://hub.by.nikdelv.in/taily-ui"
    imageUrl="/projects/tailyui.jpg"
    brand="Taily UI"
    color={colorTheme}
    parent="/taily-ui"
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: 'M17.6953 7.2433c-2.1016-2.5224-4.6763-3.0481-7.7242-1.5771 2.0494-.1049 3.4417.6047 4.1772 2.1285.4199.8695.3263 1.8182.2225 2.87C14.2026 12.3767 14.0072 14.3572 15.9604 16.7015c2.1016 2.5224 4.6763 3.0481 7.7242 1.5771-2.0494.1049-3.4417-.6047-4.1772-2.1285-.4199-.8695-.3263-1.8182-.2225-2.87C19.4535 11.5688 19.6491 9.5884 17.6953 7.2433zM8.0793 7.2424c-2.1016-2.5224-4.6763-3.0481-7.7242-1.5771 2.0494-.1049 3.4417.6047 4.1772 2.1285.4199.8695.3263 1.8182.2225 2.87-.1682 1.7119-.3637 3.6924 1.5894 6.0368 2.1016 2.5224 4.6763 3.0481 7.7242 1.5771-2.0494.1049-3.4417-.6047-4.1772-2.1285-.4199-.8695-.3263-1.8182-.2225-2.87C9.8376 11.5679 10.0332 9.5874 8.0793 7.2424z',
                title: 'Taily UI',
                color: colorTheme,
                text: [
                    { type: 'default', value: 'Build' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'websites with compact, easy-to-use, fully animated components on top of'
                    },
                    { type: 'secondary', value: 'Tailwind CSS' }
                ],
                description: 'Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS.',
                button: {
                    title: 'Read docs',
                    link: '/taily-ui/docs/components/buttons'
                },
                github: 'https://github.com/nikdelvin/taily-ui',
                parent: '/taily-ui'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Build UI everywhere',
                color: colorTheme,
                cards: [
                    { title: 'Pure', description1: 'Tailwind CSS', description2: 'components' },
                    { title: 'Easy', description1: 'to use site', description2: 'layouts' },
                    { title: 'Fast', description1: 'optimized', description2: 'builds' },
                    { title: 'Free', description1: 'open-source', description2: 'license' }
                ],
                button: {
                    title: 'Make new landing',
                    link: '#features'
                }
            })}
        />
        <fragment
            id="features"
            set:html={tailyUI.FeatureCards({
                title: 'Useful components',
                color: colorTheme,
                reverse: false,
                featureTitle: 'New classes',
                featureDescription: [
                    { type: 'default', value: 'To make it' },
                    { type: 'primary', value: 'simpler' },
                    { type: 'default', value: 'to design new' },
                    { type: 'primary', value: 'web apps' }
                ],
                featureOptions: [
                    'Contains 45 pure Tailwind CSS components for multi-purpose use on your website or dashboard',
                    'Cross-framework library created for universal implementation on React, Next.JS, Astro.JS, Svelte, Angular.JS, Vue.JS, Nuxt.JS, and vanilla Javascript',
                    'Output HTML/CSS compression to optimize builds & performance boost for complex design systems'
                ],
                button: {
                    title: 'Build everywhere',
                    link: '#features_2'
                }
            })}
        />
        <fragment
            id="features_2"
            set:html={tailyUI.FeatureCards({
                title: 'Pre-designed layouts',
                color: colorTheme,
                reverse: true,
                featureTitle: 'Build easily',
                featureDescription: [
                    { type: 'default', value: 'Like if' },
                    { type: 'secondary', value: 'UI' },
                    { type: 'default', value: 'constructed with' },
                    { type: 'secondary', value: 'Lego' },
                    { type: 'default', value: 'bricks' }
                ],
                featureOptions: [
                    'Contains 25 easy-to-use prepared layouts for creative landing pages, websites, and dashboards',
                    'Functional approach in generating HTML & CSS for layouts to make them work on every framework and able to integrate with CMS and other site builders',
                    'Lifetime use free open-source MIT license to make your commercial ideas shine as fast as possible'
                ],
                button: {
                    title: 'Launch an idea',
                    link: '#stages'
                }
            })}
        />
        <fragment
            id="stages"
            set:html={tailyUI.Jobs({
                title: 'Project roadmap',
                color: colorTheme,
                jobs: [
                    {
                        from: getDate(new Date()),
                        to: getDate(new Date(Date.now() + 3 * 30 * 24 * 60 * 60 * 1000)),
                        title: 'Phase I: Website components',
                        description: [
                            { type: 'default', value: '10 new' },
                            { type: 'primary', value: 'components' },
                            { type: 'default', value: 'designed for' },
                            { type: 'primary', value: 'websites' }
                        ],
                        role: [
                            'Form inputs, selectors, date pickers & validation, media carousel & preview, steppers, timeline, burger menu, header & footer',
                            '7 amazing color themes, easy component properties control with data attributes, build-in animations, flexible & adaptive design',
                            'Pure Tailwind CSS integration allows you to customize components, create new color themes, design tokens, animations & even more'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (3 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (6 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        title: 'Phase II: Website layouts',
                        description: [
                            { type: 'default', value: '10 new' },
                            { type: 'primary', value: 'layouts' },
                            { type: 'default', value: 'to build' },
                            { type: 'primary', value: 'websites' },
                            { type: 'default', value: 'faster' }
                        ],
                        role: [
                            'Hero, call-to-action, feedback form, image gallery, testimonials, blog/news, pricing table, social media & map integration sections',
                            'Layouts are easily configurable with 7 pre-designed color themes, content-rich sections with markdown support, and media links',
                            'The functional approach in layout rendering allows you to use it in any JavaScript framework right after connecting Tailwind CSS'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (6 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (9 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        title: 'Phase III: Dashboard components',
                        description: [
                            { type: 'default', value: 'Over 30 new' },
                            { type: 'primary', value: 'components' },
                            { type: 'default', value: 'for a dashboard' }
                        ],
                        role: [
                            'Alerts, avatars, badges, cards, charts, forms, inputs, loaders, modals, pagination, popovers, sliders, tabs, tables, toasts, tooltips',
                            'Interactive plugins: overlay, clipboard, drop zone, form validation, form repeater, data table, file tree, kanban board, quick search',
                            'Set of 100+ high-quality and pixel-perfect font icons available in duotone, outline, and solid styles for all your dashboard elements'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (9 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (12 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        title: 'Phase IV: Dashboard layouts',
                        description: [
                            { type: 'default', value: '15 new interface' },
                            { type: 'primary', value: 'layouts' },
                            { type: 'default', value: 'of a' },
                            { type: 'primary', value: 'dashboard' }
                        ],
                        role: [
                            'Account, authentication, calendar, chat, customers portal, file manager, inbox, invoice manager, user management, user profile',
                            'Multi-purpose, eCommerce, logistics, POS & marketing dashboard templates with metrics, charts, tables, and other functional plugins',
                            'Layout builder with configurable options like light & dark themes for sidebar and header, 5 different types of toolbars and asides'
                        ]
                    }
                ]
            })}
        />
        <ProjectFooter theme={colorTheme} />
    </main>
</Layout>
<script define:vars={{ monthNames }}>
    function getDate(date) {
        return [date.getDate().toString(), monthNames[date.getMonth()], date.getFullYear().toString()]
    }
    const from0 = getDate(new Date())
    const to0 = getDate(new Date(Date.now() + 3 * 30 * 24 * 60 * 60 * 1000))
    const from1 = getDate(new Date(Date.now() + (3 * 30 + 1) * 24 * 60 * 60 * 1000))
    const to1 = getDate(new Date(Date.now() + (6 * 30 + 1) * 24 * 60 * 60 * 1000))
    const from2 = getDate(new Date(Date.now() + (6 * 30 + 2) * 24 * 60 * 60 * 1000))
    const to2 = getDate(new Date(Date.now() + (9 * 30 + 2) * 24 * 60 * 60 * 1000))
    const from3 = getDate(new Date(Date.now() + (9 * 30 + 3) * 24 * 60 * 60 * 1000))
    const to3 = getDate(new Date(Date.now() + (12 * 30 + 3) * 24 * 60 * 60 * 1000))
    document.querySelector('#job-0-from-0').textContent = from0[0]
    document.querySelector('#job-0-from-1').textContent = from0[1]
    document.querySelector('#job-0-from-2').textContent = from0[2]
    document.querySelector('#job-1-from-0').textContent = from1[0]
    document.querySelector('#job-1-from-1').textContent = from1[1]
    document.querySelector('#job-1-from-2').textContent = from1[2]
    document.querySelector('#job-2-from-0').textContent = from2[0]
    document.querySelector('#job-2-from-1').textContent = from2[1]
    document.querySelector('#job-2-from-2').textContent = from2[2]
    document.querySelector('#job-3-from-0').textContent = from3[0]
    document.querySelector('#job-3-from-1').textContent = from3[1]
    document.querySelector('#job-3-from-2').textContent = from3[2]
    document.querySelector('#job-0-to-0').textContent = to0[0]
    document.querySelector('#job-0-to-1').textContent = to0[1]
    document.querySelector('#job-0-to-2').textContent = to0[2]
    document.querySelector('#job-1-to-0').textContent = to1[0]
    document.querySelector('#job-1-to-1').textContent = to1[1]
    document.querySelector('#job-1-to-2').textContent = to1[2]
    document.querySelector('#job-2-to-0').textContent = to2[0]
    document.querySelector('#job-2-to-1').textContent = to2[1]
    document.querySelector('#job-2-to-2').textContent = to2[2]
    document.querySelector('#job-3-to-0').textContent = to3[0]
    document.querySelector('#job-3-to-1').textContent = to3[1]
    document.querySelector('#job-3-to-2').textContent = to3[2]
</script>
