---
import Header from '../components/landing/Header.astro'
import Features from '../components/landing/Features.astro'
import Projects from '../components/landing/Projects.astro'
import Pricing from '../components/landing/Pricing.astro'
import HowItWorks from '../components/landing/HowItWorks.astro'
import FAQ from '../components/landing/FAQ.astro'
import CallToAction from '../components/landing/CallToAction.astro'
import Contacts from '../components/landing/Contacts.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <Header />
    <Features />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <Projects />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <Pricing />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <HowItWorks />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <FAQ />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <CallToAction />
    <div class="h-[1px] w-full bg-gray-800"></div>
    <Contacts />
</Layout>
